
/*
	This script and database are to be used only as an aide for doing exercises published on the Wise Owl website.  Neither 
	this script nor the database it generates should be distributed in whole or in part in any format whatsoever without
	the prior written permission of Wise Owl Business Solutions Ltd.  
*/

-- create the database
CREATE DATABASE WorldEvents
GO

-- switch to it
USE WorldEvents
GO

-- create the tables
CREATE TABLE tblCategory (
	CategoryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CategoryName nvarchar(255) NULL
)

GO
CREATE TABLE tblContinent(
	ContinentID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	ContinentName nvarchar(255) NULL
)

GO
CREATE TABLE tblCountry(
	CountryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CountryName nvarchar(255) NULL,
	ContinentID int NULL
)

GO
CREATE TABLE tblEvent(
	EventID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	EventName varchar(8000) NULL,
	EventDetails varchar(max) NULL,
	EventDate date NULL,
	CountryID int NULL,
	CategoryID int NULL
) 

GO

-- create one example view
CREATE VIEW vwEvents
AS
SELECT        
	-- country and continent
	cn.ContinentName AS Continent, 
	cy.CountryName AS Country,

	-- events
	ev.EventId,
	ev.EventName, 
	ev.EventDetails, 
	ev.EventDate, 

	-- category
	cat.CategoryName AS Category
FROM            
	tblCountry AS cy
	INNER JOIN tblContinent AS cn ON cy.ContinentID = cn.ContinentID 
	INNER JOIN tblEvent AS ev ON cy.CountryID = ev.CountryID 
	INNER JOIN tblCategory AS cat ON ev.CategoryID = cat.CategoryID


GO

-- add the categories
SET IDENTITY_INSERT tblCategory ON 

GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (1, N'Politics')
GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (2, N'Alien life')
GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (3, N'Exploration')
GO
SET IDENTITY_INSERT tblCategory OFF
GO

-- add the continents
SET IDENTITY_INSERT tblContinent ON 

GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (1, N'Asia')
GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (2, N'Africa')
GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (3, N'Europe')
GO
SET IDENTITY_INSERT tblContinent OFF
GO
SET IDENTITY_INSERT tblCountry ON 

GO

-- add the countries
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (1, N'Ukraine', 3)
GO
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (2, N'France', 3)
GO
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (3, N'Germany', 3)
GO
SET IDENTITY_INSERT tblCountry OFF
GO
SET IDENTITY_INSERT tblEvent ON 

GO

-- add the events
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (1, N'Chernobyl', N'Reactor 4 at a nuclear power plant in Chernobyl, Ukraine exploded, blowing the 1,000 ton cover off the top of the reactor.', CAST(N'1986-04-26' AS Date), 1, 5)
GO
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (2, N'Pearl Harbour', N'Japan launched an attack dubbed ‘Operation Z’ on Pearl Harbour, a United States naval base in Hawaii. The U.S. declared war on Japan the following day, bringing them into World War II.', CAST(N'1941-12-07' AS Date), 5, 6)
GO
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (3, N'World War 1 began', N'Often referred to as The Great War, World War I resulted in the death of over 16 million combatants and civilians. The catalyst that spurred the outbreak of fighting was the assassination of Archduke Franz Ferdinand of Austria-Hungary in June 1914, which took place in Sarajevo on 28th June, a month earlier.', CAST(N'1914-07-28' AS Date), 6, 6)
GO
SET IDENTITY_INSERT tblEvent OFF
GO

---- add 
--ALTER TABLE tblCategory ADD  CONSTRAINT aaaaaCategory_PK PRIMARY KEY NONCLUSTERED 
--(
--	CategoryID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaContinent_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblContinent ADD  CONSTRAINT aaaaaContinent_PK PRIMARY KEY NONCLUSTERED 
--(
--	ContinentID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaCountry_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblCountry ADD  CONSTRAINT aaaaaCountry_PK PRIMARY KEY NONCLUSTERED 
--(
--	CountryID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaEvent_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblEvent ADD  CONSTRAINT aaaaaEvent_PK PRIMARY KEY NONCLUSTERED 
--(
--	EventID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO

-- add relationships
ALTER TABLE tblCountry  WITH CHECK ADD  CONSTRAINT FK_tblCountry_tblContinent FOREIGN KEY(ContinentID)
REFERENCES tblContinent (ContinentID)
GO
ALTER TABLE tblCountry CHECK CONSTRAINT FK_tblCountry_tblContinent
GO
ALTER TABLE tblEvent  WITH CHECK ADD  CONSTRAINT FK_tblEvent_tblCategory1 FOREIGN KEY(CategoryID)
REFERENCES tblCategory (CategoryID)
GO
ALTER TABLE tblEvent CHECK CONSTRAINT FK_tblEvent_tblCategory1
GO
ALTER TABLE tblEvent  WITH CHECK ADD  CONSTRAINT FK_tblEvent_tblCountry FOREIGN KEY(CountryID)
REFERENCES tblCountry (CountryID)
GO
ALTER TABLE tblEvent CHECK CONSTRAINT FK_tblEvent_tblCountry
GO

-- add a column to the continent table
ALTER TABLE tblContinent
	ADD Summary varchar(100)
GO

-- set some (but not all) values
UPDATE tblContinent SET Summary = 'Big' WHERE ContinentID = 1
UPDATE tblContinent SET Summary = 'Biggish' WHERE ContinentID = 2
UPDATE tblContinent SET Summary = 'Home' WHERE ContinentID = 3
UPDATE tblContinent SET Summary = 'Lots of trees' WHERE ContinentID = 5
UPDATE tblContinent SET Summary = 'Full of penguins' WHERE ContinentID = 7

SELECT * FROM tblCountry
SELECT * FROM tblContinent
SELECT * FROM tblCategory
SELECT * FROM tblEvent

--EXERCISES
/*Create a query to list out the following columns from the tblEvent table, with the most recent first (for which you'll need to use an ORDER BY clause):
1.The event name
2.The event date*/

SELECT EVENTNAME, EVENTDATE FROM tblEvent ORDER BY EVENTDATE DESC

--Write a query to show the first 5 events (in date order) from the tblEvent table:
SELECT TOP 5 EVENTNAME WHAT,EVENTDETAILS DETAILS FROM tblEvent ORDER BY EVENTDATE ASC

--Create a query to list out the id number and name of the last 3 categories from the tblCategory table in alphabetical order:

SELECT TOP 3 CATEGORYID, CATEGORYNAME FROM TBLCATEGORY ORDER BY CategoryName DESC

--Create a query which uses two separate SELECT statements to show the first and last 2 events in date order from the tblEvent table:

SELECT TOP 2 EVENTNAME WHAT, EVENTDATE 'WHEN' FROM TBLEVENT ORDER BY EVENTDATE ASC
SELECT TOP 2 EVENTNAME WHAT, EVENTDATE 'WHEN' FROM TBLEVENT ORDER BY EVENTDATE DESC

--Write a query to list out all of the events from the tblEvent table in category number 11 (which corresponds to Love and Relationships, as it happens):

SELECT EVENTNAME, EVENTDATE FROM tblEvent WHERE CATEGORYID=11

--Create a query which lists out all of the tblEvent events which include the word Teletubbies AND Teletubbies or Pandy:

SELECT EVENTNAME, EVENTDATE FROM tblEvent WHERE EVENTNAME LIKE '%Teletubbies%'

SELECT EVENTNAME, EVENTDATE FROM tblEvent WHERE EVENTNAME LIKE '%Teletubbies%' OR EVENTNAME LIKE '%Pandy%'

--Create a query which lists out all of the events which took place in February 2005:

SELECT EVENTNAME WHAT, EVENTDATE 'WHEN' FROM tblEvent WHERE EVENTDATE BETWEEN '2005/02/01' AND '2005/02/28'

/*Write as many of the following queries as your mean trainer gives you time for:

Query to show	Returns
Events which aren't in the Transport category (number 14), but which nevertheless include the text Train in the EventDetails column. 4 ROWS	
Events which are in the Space country (number 13), but which don't mention Space in either the event name or the event details columns.	6 ROWS 
Events which are in categories 5 or 6 (War/conflict and Death/disaster), but which don't mention either War or Death in the EventDetails column. 91 ROWS*/	

SELECT * FROM tblEvent WHERE CategoryID != 14 AND EventDetails LIKE '%TRAIN%' 
SELECT * FROM tblEvent WHERE CountryID = 13 AND EventName NOT LIKE '%SPACE%' AND EventDetails NOT LIKE '%SPACE%'
 

/*First show a list of all events which might have something to do water.  The Wise Owl interpretation of this is that one or more of the following is true:

They take place in one of the island countries (8, 22, 30 and 35, corresponding to Japan, the Marshall Islands, Cuba and Sri Lanka respectively)
Their EventDetails column contains the word Water (not the text Water, but the word)
Their category is number 4 (Natural World)
This should return 11 rows.  Now add a criterion to show only those events which happened since 1970 (you may need to use parentheses to get this to give the correct answer).*/
SELECT EventName, EventDate,CountryID, EventDetails, CATEGORYID FROM tblEvent 
	WHERE (CountryID IN (8, 22, 30, 35) OR EventDetails LIKE '% WATER %' OR CategoryID=4) 
		AND EventDate >= '1970/01/01' 

--Use this nugget of information to create a query listing out each event with the length of its name, with the "shortest event" first:

SELECT EVENTNAME, LEN(EVENTNAME) AS LENGTH_OF_NAME FROM tblEvent ORDER BY LEN(EVENTNAME) ASC

--Create a query to list out for each event the category number that it belongs to:

SELECT EVENTNAME + CAST ( CATEGORYID AS VARCHAR ) AS 'EVENT(CATEGORY)' ,EVENTDATE FROM tblEvent WHERE COUNTRYID=1

SELECT EVENTNAME + '( ' + CAST (CATEGORYID AS VARCHAR ) + ' )' AS 'EVENT(CATEGORY)' ,EVENTDATE FROM tblEvent WHERE COUNTRYID=1

SELECT EVENTNAME + '(CATEGORY ' + CAST ( CATEGORYID AS VARCHAR )+ ')' AS 'EVENT(CATEGORY)', EVENTDATE FROM tblEvent WHERE COUNTRYID = 1

SELECT CONCAT( EVENTNAME, +' '+'(CATEGORY'+(CAST ( CATEGORYID AS VARCHAR )))+')' 'EVENT(CATEGORY)',EVENTDATE FROM tblEvent WHERE COUNTRYID=1

SELECT Concat(EventName+' '+ '( category' ,' ', CategoryID, ')') 'EVENT(CATEGORY)',EventDate FROM tblEvent WHERE CountryID = 1

-- Add up to 3 columns to show a message where a summary is missing using ISNULL, COALESCE, CASE: 

SELECT CONTINENTID, ISNULL(SUMMARY, 'No Summary') AS USING_ISNULL FROM tblContinent;

SELECT CONTINENTID, COALESCE(SUMMARY, 'No Summary') AS USING_COALESCE FROM tblContinent;

SELECT CONTINENTID,
	CASE 
		WHEN SUMMARY IS NULL THEN 'No Summary'
			ELSE SUMMARY 
				END USING_CASE FROM tblContinent

SELECT CONTINENTID, ISNULL(SUMMARY, 'No Summary') AS USING_ISNULL, COALESCE(SUMMARY, 'No Summary') AS USING_COALESCE,
	CASE WHEN SUMMARY IS NULL THEN 'No Summary'
		ELSE SUMMARY
			END USING_CASE FROM tblContinent

-- Write a query to divide countries into these groups:

SELECT COUNTRYNAME, ContinentID,
	CASE 
		WHEN CONTINENTID IN (1,3) THEN 'EUROSIA' 
			WHEN CONTINENTID IN (5,6) THEN 'AMERICAS' 
				WHEN CONTINENTID IN (2,4) THEN 'SOMEWHERE HOT'
					WHEN CONTINENTID = 7 THEN 'SOMEWHERE COLD'
						ELSE 'SOMEWHERE ELSE'
							END COUNTRY_LOCATION FROM TBLCOUNTRY 
								ORDER BY COUNTRY_LOCATION DESC

-- Divide events according to whether their first/last letters are the same or vowels

SELECT EVENTNAME,
	CASE
		WHEN LEFT(EVENTNAME,1) = RIGHT(EVENTNAME,1) THEN 'SAME LETTER'
			WHEN LEFT(EVENTNAME,1) IN ('A','E','I','O','U') AND RIGHT(EVENTNAME,1) IN ('A','E','I','O','U') THEN 'BEGINS AND ENDS WITH VOVELS'
				END VERDICT FROM tblEvent
					WHERE LEFT(EVENTNAME,1) = RIGHT(EVENTNAME,1) OR LEFT(EVENTNAME,1) IN ('A','E','I','O','U') AND RIGHT(EVENTNAME,1) IN ('A','E','I','O','U')
						ORDER BY EventDate ASC

SELECT EVENTNAME,
	CASE
		WHEN LEFT(EVENTNAME,1) = RIGHT(EVENTNAME,1) THEN 'SAME LETTER'
			WHEN CHARINDEX(LEFT(EVENTNAME,1),'AEIOU')>0 AND CHARINDEX(RIGHT(EVENTNAME,1) ,'AEIOU')>0 THEN 'BEGINS AND ENDS WITH VOVELS'
				ELSE 'BOORINGEVENT'
					END VERDICT FROM tblEvent
						WHERE LEFT(EVENTNAME,1) = RIGHT(EVENTNAME,1) OR CHARINDEX(LEFT(EVENTNAME,1),'AEIOU')>0 AND CHARINDEX(RIGHT(EVENTNAME,1),'AEIOU')>0
							ORDER BY EventDate ASC 

-- Use the % modulus operator and a lot of ingenuity to show how big each country is relative to Wales

SELECT * FROM CountriesByArea

SELECT COUNTRY,KMSQUARED, (KMSQUARED / 20761) WALESUNITS, (KMSQUARED % 20761) AREALEFTOVER,
	CASE 
		WHEN (KMSQUARED / 20761) > 0 THEN CONCAT(( KMSQUARED / 20761 ), ' x WALES PLUS ', ( KMSQUARED % 20761 ),' SQ.KM') 
			ELSE 'SMALLER THAN WALES'
				END WALESCOMPARISION
					FROM CountriesByArea ORDER BY COUNTRY 

-- Use the CHARINDEX function multiple times to show the number of characters between two words in a text string

SELECT EVENTNAME,EVENTDATE FROM tblEvent

SELECT EVENTNAME, EVENTDATE, EVENTDETAILS,
    CHARINDEX('THIS', EVENTDETAILS) AS THISPOSITION,
		CHARINDEX('THAT', EVENTDETAILS) AS THATPOSITION,
			(CHARINDEX('THAT', EVENTDETAILS) - CHARINDEX('THIS', EVENTDETAILS)) AS 'OFFSET'
FROM tblevent
WHERE
    CHARINDEX('THIS', EVENTDETAILS) > 0
		AND CHARINDEX('THAT', EVENTDETAILS) > 0
			AND CHARINDEX('THAT', EVENTDETAILS) > CHARINDEX('THIS', EVENTDETAILS);